<%- include('./partials/head') %>
<article>
  <h2>
    HvA<br />
    Student
  </h2>

  <img class="profile" src="assets\web.png" alt="" width="150" id="img1" />

  <h1><%= data.name %> <%= data.surname %></h1>
  <div class="ul-wrapper">
    <ul>
      <li>
        <a href="mailto:<%= data.email %>" class="custom-link">@ Email</a>
      </li>
      <li><a href="<%= data.website %>" class="custom-link">@ Github</a></li>
      <li>
        <a href="https://www.facebook.com/yourprofile" class="custom-link"
          >@ Facebook</a
        >
      </li>
      <li>
        <img
          src="assets/arrow_down_circle_icon_183837.ico"
          class="icon"
          id="expand-icon"
        />
      </li>
    </ul>
  </div>
</article>
<script src="scripts/script.js"></script>

<%- include('./partials/foot') %>
